		<div class="card" id={{alarmID}} style="width: 100%">
			<div class="card-body">
				<h3 class="card-title" align="left">
					<img class="img-fluid" src="images/alarm.png" alt="Alarm clock icon" style="float:right">{{alarmTime}}</h3>

				<!-- Rounded switch -->
				<label class="switch">
				  <input type="checkbox" checked>
				  <span class="slider round"></span>
				</label>

				<p class="card-text">{{alarmName}}</p>
			</div>
		</div>