<!DOCTYPE html>
<html>
	<head>

		<title>Alarmio A</title>
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

		<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='190967683-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-135646748-1', 'auto');
ga('send', 'pageview');
</script>
	</head>

	<body>
		<!--CONNECTION TO NAV BAR-->
		{{> "nav"}}

	<div class="container" onclick="ga( 'create', 'UA-135646748-1', 'auto' ); ga('send', 'event', 'links', 'clicks');">
		<div class="card-body alarms">
			<h3>
				<a class="links" href="alarms.html">Alarms &#8250;</a>
			</h3>
		</div>
	</div>

	<div class="container" onclick="ga( 'create', 'UA-135646748-1', 'auto' ); ga('send', 'event', 'links', 'clicks');">
		<div class="card-body weather">
			<h3 class="card-title"><a class="links" href="weather.html">Weather &#8250;</a></h3>
		</div>
	</div>

	<div class="container" onclick="ga( 'create', 'UA-135646748-1', 'auto' ); ga('send', 'event', 'links', 'clicks');">
		<div class="card-body trips">
			<h3 class="card-title"><a class="links" href="trips.html">Trips &#8250;</a></h3>
		</div>
	</div>
	<!-- Google Analytics -->
	<!--<script src="/js/analyticsIndex.js"></script>-->
	</body>
</html>
