<html>
<head>
	<title>Test Page</title>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/bootstrap-theme.min.css">
<style>
.center-card {
text-align: center;
border: solid;
border-width: 2px;
border-color: black;
height: 20%;
position: relative;
}

.center-card > div {
border:solid;

}

.center-card > div > * {
}

.center-card > div:nth-of-type(1) {
left: 0px;
text-align:left;
float:left;
width: 5%;

margin: 0;
position: relative;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
min-height: 1px;
}
.center-card > div:nth-of-type(2) {
position:relative;
float:left;
width: 90%;
}

.center-card > div:nth-of-type(3) {
display: block;
right: 0px;
text-align:right;
float:left;
width: 5%;

margin: 0;
position: relative;
top: 50%;
-ms-transform: translateY(-50%);
transform: translateY(-50%);
min-height: 1px;
}

.weather-card {

}
</style>
</head>
<body>
<div class="center-card" style="height:10%">
	<div></div>
	<div><h1>Menu</h1></div>
	<div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/440px-Hamburger_icon.svg.png" style="max-height: 25px;max-width: 25px;"></div>
</div>
	
<div class="center-card">
	<div></div>
	<div>
		<div style="position:relative;">
			<div style="background-color:red;">
				<h1>Good Morning!</h1>
				<br>
				<h2>8:00 AM</h2>
				</div>
		<div style="float:left;position:relative;">
			<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/440px-Hamburger_icon.svg.png" style="max-height: 25px;max-width: 25px;">
			</div>
			<label class="switch">
			<input type="checkbox">
			<span class="slider round"></span>
				</label>
			</div>
		</div>
	</div>
	<div></div>
</div>

<div class="center-card">
	<div> </div>
	<div><h1>Menu</h1></div>
	<div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/440px-Hamburger_icon.svg.png" style="max-height: 25px;max-width: 25px;"></div>
</div>

<div class="center-card">
	<div></div>
	<div><h1>Menu</h1></div>
	<div><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/440px-Hamburger_icon.svg.png" style="max-height: 25px;max-width: 25px;"></div>
</div>
	
<br><p>This should be on the next line</p><hr>
</body>
</html>
