<!DOCTYPE html>
<html>
  <head>
    <title>Place Autocomplete and Directions</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <head>
      <title>Alarmio</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="css/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

      <script>
        function goBack(){
          window.history.back();
        }
      </script>
  </head>
  <body>
    <div class="container-fluid weather-page-header">
      <button class="btn btn-lg back-button" onclick="goBack()">&#8249; Back</button>
      <a href="add_trips.html"><button>Save</button></a>
      <h2 class="links" align="center">Add New Trip</h2>
    </div>

    <div class="card" style="width: 100%">
      <div class="card-body">
        <form id="addTripForm" role="form" method="get" action="/add_trip">

            <div class="form-group">
            <label for="ori-input"></label>
            <input name="origin" id="ori-input" class="form-control" type="text">
            </div>

            <div class="form-group">
            <label for="dest-input"></label>
            <input name="destination" id="dest-input" class="form-control" type="text">
            </div>

            <input type="submit" id="submitBtn" class="btn add-weather" value="Get Trip"></input>
          </form>
        </div>
      </div>

      <div style="display: none">
        <input id="origin-input" class="form-control" type="text"
            placeholder="Enter an origin location">

        <input id="destination-input" class="form-control" type="text"
            placeholder="Enter a destination location">

        <div id="mode-selector" class="controls">
          <input type="radio" name="type" id="changemode-walking" checked="checked">
          <label for="changemode-walking">Walking</label>

          <input type="radio" name="type" id="changemode-transit">
          <label for="changemode-transit">Transit</label>

          <input type="radio" name="type" id="changemode-driving">
          <label for="changemode-driving">Driving</label>
        </div>
      </div>

    <div id="map"></div>
    <script src="/js/gen_trip.js"></script>
  </body>
</html>
