<!DOCTYPE html>
<html>
	<head>
		<title>Alarmio</title>
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

		<script>
			function goBack(){
				window.history.back();
			}
		</script>
	</head>

	<body>
    {{>"nav"}}
    <div class="container-fluid weather-page-header">
      <button class="btn btn-lg back-button" onclick="goBack()">&#8249; Back</button>
      <h2 class="links" align="center">Add New Location</h2>
    </div>

    <div class="card" style="width: 100%">
      <div class="card-body">
        <form id="addWeatherForm" role="form" method="get" action="/add_weather">
          <div class="form-group">
            <label for="city-search">Search:</label>
            <input type="text" class="form-control" id="city-search" name="citySearch" placeholder="e.g. San Diego, CA">
          </div>
          <div class="form-group">
            <label for="latitude">Latitude:</label>
            <input type="text" class="form-control" id="latitude" name="latitude" placeholder="e.g. 42.9150747">
          </div>
          <div class="form-group">
            <label for="longitude">Longitude:</label>
            <input type="text" class="form-control" id="longitude" name="longitude" placeholder="e.g. -77.784323">
          </div>
           <input type="submit" id="submitBtn" class="btn add-weather" value="Get Weather"></input>
        </form>
      </div>
    </div>

  <script src='js/lat_lon.js'></script>
  </body>
</html>
