<!DOCTYPE html>
<html>
	<head>
		<title>Alarmio</title>
		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

	</head>

  <body>
    <!--PUT IN CONNECTION TO NAV BAR-->
		{{> "nav"}}
    <!--NEED BACK BUTTON-->

		<!-- Add Button and Title-->
		<div class="container-fluid weather-page-header">
			<a class="btn btn-lg back-button" href="index.html">&#8249; Back</a>
			<a href="new_trips.html"><button class="addButton">+</button></a>
			<h2 class="links" align="center">Trips</h2>
		</div>

    <!--Loop through the trips section-->
    {{#each trips}}
		<div class="card" style="width: 100%">
			<div class="card-body">
				<h3 class="card-title" align="left">
					<img style="float:right">Your Trip</h3>
				<p class="card-text">{{origin}}</p>
				<p class="card-text">{{destination}}</p>
			</div>
		</div>
    {{/each}}
  </body>
</html>
