#alarms, #weather, #trips {
  text-align: center;
}

.links {
  color: #F2B4B5;
}

.subheading {
  color: #8DD4D2;
}

.switch {
  float: right;
}

.addButton {
  float: right;
  font-size: 25px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #8DD4D2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #8DD4D2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Login page styling */
.background {
  background-color: #F6F6F6;
  background-image: url("/images/alarm-bg-cut.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

.app-title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #F2B4B5;
}

#inputEmail{
  margin-bottom: 10px;
}

.sign-in {
  padding-left: 15px;
  padding-right: 15px;
}


.remember {
  float: left;
  margin-top: 10px;
}
