/* Links class for home screen headings + page headings */
.links {
  color: white;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}

/* Colors and hex codes:
  pink #F2B4B5;
  light pink #FFD1D1;
  blue #8DD4D2;
  light blue #AAE0DE;
  lightsteelblue #B0C4DE;
  lighter ^ #D2DFEF;
} */

/* Alarms card body on home screen */
.alarms {
  background-color: #F2B4B5;
  padding: 30px 25px 20px 25px;
  margin: 15px 3px;
}

.alarms h2 {
  text-align: center;
  margin-bottom: 40px;
}

.alarms p {
  text-align: right;
  color: white;
}

.alarms h2, h3, button, p,
.weather h4,
.trips h4, h5 {
  color: white;
}

/* Weather card body on home screen */
.weather {
  background-color: #8DD4D2;
  padding-left: 30px;
  margin: 15px 3px;
}

.weather p, h4,
.trips p, h5 {
  text-align: center;
  color: white;
}

/* Trips card body on home screen */
.trips {
  background-color: lightsteelblue;
  padding-left: 30px;
  margin: 15px 3px;
}

.trips h4 {
  text-align: left;
}

/* Alarms Page */
.alarms-page-header {
  background-color: #F2B4B5;
  padding-bottom: 10px;
}

.alarms-box {
  background-color: #FFD1D1;
  margin: 20px 5px 10px 10px;
}

.alarms-page h3, p {
  text-align: left;
}

.card-title {
  color: black;
}

.add-alarm {
  background-color: #F2B4B5;
  color: white;
}

/* Weather Page */
.weather-page-header {
  background-color: #8DD4D2;
  padding-bottom: 10px;
}

.card-body-weather {
  background-color: #B2EAE8;
  padding: 25px 10px 5px 10px;
  margin: 20px 5px 10px 10px;
}

.weather-page h5, h4, p {
  color: black;
}

.add-weather {
  background-color: #8DD4D2;
  color: white;
}

/* Trips Page */
.trips-page-header {
  background-color: lightsteelblue;
  padding-bottom: 10px;
}

.card-body-trips {
  background-color: #D2DFEF;
  padding: 20px 20px;
  margin: 20px 5px;
}

.card-body-trips h5, p {
  color: black;
  text-align: left;
}

.add-trip {
  background-color: lightsteelblue;
  color: white;
}

/* Back button styling */
.back-button {
  color: white;
  margin-left: -15px;
}

/* Add button styling */
.addButton {
  float: right;
  font-size: 25px;
  margin-right: -10px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
  float: right;
  margin-top: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Login page styling */
.background {
  background-color: #F6F6F6;
  background-image: url("/images/alarm-bg-cut.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}

.app-title {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #F2B4B5;
}

#inputEmail{
  margin-bottom: 10px;
}

.sign-in {
  padding-left: 15px;
  padding-right: 15px;
}

.remember {
  float: left;
  margin-top: 10px;
}

.facebookLogin {
  margin-top: 10px;
  padding-left: 15px;
}

/* Map Stuff */
/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 200px;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  color: #fff;
  background-color: #4d90fe;
  margin-left: 12px;
  padding: 5px 11px 0px 11px;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
